.menu {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    border-bottom: var(--text-primary);
    background-color: var(--bg-button);
}

.item{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    transition: var(--transition-speed);
}

.item:hover{
    background-color: var(--bg-button-hover);
}