.navbar {
    height: 3.5rem;
    width: 100%;
    background-color: var(--bg-primary);
    border-bottom: .25rem solid var(--text-primary);
    position: fixed;
    z-index: 2;
    top: 0;
}

.menu {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    border-bottom: var(--text-primary);
}

.item{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    transition: var(--transition-speed);
}

.item:hover{
    background-color: var(--bg-secondary);
}