.longcard {
  height: 75vh;
  width: 27vw;
  transition: 0.2s ease-in-out;
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid grey;
  padding: 10px;
  margin: -1px;
  text-align: left;
}

.longcard-image{
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.longcard-title{
  font-weight: bold;
}

.longcard-subtitle{
  font-size: 0.8rem;
  font-weight: lighter;
}

.longcard-description{
  margin-top: 1rem;
}