.showcase {
    border-bottom: .25rem solid var(--text-primary);
    background-color: var(--bg-primary);
    height: 10rem;
    display: flex;
    padding: 1rem;
    margin: 0;
    text-align: left;
}

.showcase-title{
    color: var(--text-primary);
    margin: 0;
}

.showcase-content{
    height: 100%;
    width: 100%;
}

.showcase-image{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-years{
    background-color: purple;
    margin-left: 0.5em;
    color: white;
    font-size: 0.7rem;
    border-radius: 10px;
    vertical-align: middle;
    padding: 0.25em 0.4em;
}

.showcase-subtitle{
    font-size: 0.8rem;
    font-weight: lighter;
}

.showcase-description{
    margin-top: 1rem;
}